<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Inicio</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{%static '/css/bootstrap.min.css'%}"> <!-- manually added -->
    <link rel="stylesheet" href="{%static '/css/miestilo.css'%}"> <!-- manually added -->
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-dark bg-dark static-top">
        <div class="container">
            <!-- these class access to the functions of the urls.py file -->
            <a class="navbar-brand" href="/WebBlog/homeNoLogin">Inicio</a>´
            <a class="navbar-brand" style="position: absolute; right: 150px" href="/WebBlog/login">Login</a>´
            <a class="navbar-brand" style="position: absolute; right: 0px" href="/WebBlog/sign_in">Registrarse</a>´
           <!-- <a class="navbar-brand" style="position: absolute; right: 0px" href="/DataDB/logout/">Salir</a>´ -->

        </div>
        </nav>

        <div class="contenido">
            {%block contenido %}
            <p> Home </p>
            {%endblock%}
        </div>

    </body>
    </html>